.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30%;
}

.boxes {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 480px) {
  .component {
    height: 40vh;
  }
}