.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20%;
}

.suggestions {
  height: 30%;
  overflow-y: auto;
  padding: 5px;
}

@media (max-width: 480px) {
  .component {
    height: 25vh;
  }
  .suggestion {
    font-size: var(--mobile-font-size);
    padding: 0;
  }
}